* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Kumbh Sans',sans-serif;
}

.navbar{
    background: linear-gradient(to right, #052659 0%, #021024 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background-color: #c1e8ff;
    background-image: linear-gradient(to top, #7da0ca 0%, #c1e8ff 100%);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #c1e8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin: auto;
    text-decoration: none;
    height: 100%;
}

.navbar_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 7px 15px;
    outline: none;
    border: none;
    border-radius: 16px;
    background-color: #7da0ca;
    color: #021024;
}

.button:hover{
    background-color:#fff;
    color:#021024;
    transition: all 0.3s ease;
}

.navbar_links:hover{
    color:#fff;
    transition: all 0.3s ease;
}

/* hero section */

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #052659 0%, #021024 100%);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #c1e8ff;
    margin: 100px auto 20px;
    padding: 30px 20px 40px;
    border-radius: 10px;
}

.todo-app h2{
    color: #021024;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 5px 30px;
    background: #021024;
    color: #c1e8ff;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 40px;
}

button:hover{
    background-color: #052659;
    color: #fff;
}

#list-container li{
    list-style: none;
    font-size: 1rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

#list-container li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/images/unchecked.png);
    background-color: #052659;
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}

#list-container li.checked::before{
    /* background-color: #c1e8ff; */
    background-image: url(/images/checked.png);
}

#list-container li.checked{
    text-decoration: line-through;
}

#list-container li span{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 2px;
    width: 40px;
    height: 40px;
    font-size: 1.75rem;
    color: #021024;
    line-height: 40px;
    text-align: center;
    border-radius: 45%;
}

#list-container li span:hover{
    background: #021024;
    color: #fff;
}